cement==3.0.4
discord
jinja2
pyyaml
colorlog
pyfiglet
colorama
termcolor
six
tinydb
tabulate
python-hosts
difflib
curses
python-dotenv
#Needed in Windows
#windows-cursesNzMwNTEyMDQ5MzcyOTIxOTQ4.XwYoXQ.0UaAMaPp_T_b-iNBOguCjHZWwis
aws-cli
aws-sam-cli
spotipy
twitchio
skimage
numpy
opencv
mahotas
pytesseract